<a href="{{ path('homepage') }}" class="text-center db">
    <img src="{{ asset('assets/images/logo-icon.png') }}" alt="Home" />
    <br/>
    <img src="{{ asset('assets/images/logo-text.png') }}" alt="Home" />
</a>